<input matInput [formControl]="formGroup.controls.timezone"/>

<mat-form-field>
  <mtx-datetimepicker #datetimePicker
                      type="datetime"
                      mode="auto"
                      [multiYearSelector]="false"
                      startView="month"
                      [twelvehour]="false"
                      [timeInterval]="1"
                      [touchUi]="false"
                      [timeInput]="true">
  </mtx-datetimepicker>
  <input matInput
         placeholder="Choose date and time"
         [formControl]="formGroup.controls.datetime"
         [mtxDatetimepicker]="datetimePicker"/>
  <mtx-datetimepicker-toggle [for]="datetimePicker" matSuffix></mtx-datetimepicker-toggle>
</mat-form-field>

